.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  font-family: 'Futura';
  height: 50px;
  border-bottom: inset 1px #E7C331;
  color: #DCC7AA;
}

.navbar input{
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  margin-left: 10px;
}

.navbar a {
  color: black;
}

.inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.navbar i:hover{
  cursor: pointer;
  opacity: 1
}

.icons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputs button {
  border: solid 1px #DCC7AA;
  margin-left: 10px;
  padding: 5px;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color: #DCC7AA;
  color: white;
}

#search {
  position:absolute;
  z-index: 1;
}
