// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #687A8F - blueberry
// #F7882F - Apricot
// #E7C331 - Citrus
// #DCC7AA - Apple core


.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    
}

.session-body {
    background-color: #F7882F;
    opacity: 50%;
    height: 40%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    height: 30px;
    width: 200px;
}

.submit-button {
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #687A8F;
    border-radius: 5px;
}

.submit-button:hover {
    transform: scale(1.1)
}

.session-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url("coffee-background.jpg");
   background-size: cover;
}

.session-form h1 {
    font-size: 24px;
    color: white;
}

.session-form h3 {
    color: white;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}