// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    background: white;
    

}

.login-form input {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

.submit-button {
    border: solid 1px black;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.session-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url("coffee-background.jpg");
   background-size: cover;
}