// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form {
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}

.login-form input {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

.submit-button {
    border: solid 1px black;
}



.session-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   width: 100%;
}